body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
h2 {
  color: #030303;
  margin-bottom: 10px;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.produto {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.produto button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.produto button:hover {
  background-color: #218838;
}

.limpar {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.limpar:hover {
  background-color: #c82333;
}
#usuario{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}
.btn{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
     margin-left: auto;
    margin-right: auto; 
    display: block;
}
.btn:hover{
    background-color: #218838;
}   